<footer class=" w-100 h-25 text-light">

    <div>© 2022 Dragonrain, Inc. All rights reserved. Dragonrain, DRain and all related logos, characters, names and distinctive likenesses thereof are exclusive property of DragonRain, Inc.</div>

    <ul class="d-flex align-items-center justify-content-evenly">
        <li><a>Privacy Notice</a></li>
        <li><a>Terms Of Service</a></li>
        <li><a>Cookie Policy</a></li>
        <li><a>Company Information</a></li>
        <li><a>Cookie Preferences</a></li>
    </ul>
</footer>