<section class="section-1 vh-100 w-100 position-relative">

    <video class="vh-100 w-100 bp-absolute obj-fit_cover" loop autoplay muted>
        <source src="media/video_2.webm" type="video/webm">
    </video>

    <div class="video-text d-flex align-items-center w-100 position-absolute top-0 start-0 vh-100">
        <div class="container text-center">
            <img class="title_logo mb-5" src="images/logo_game.png" alt="DragonRain Logo">
            <h1 class="text-light">Join The Battle</h1>
            <h3 class="text-light fw-lighter">Thousands of players have already signed up for</h3>
            <h3 class="text-light fw-lighter">Dragonrain's closed beta. Why don't you join us too?</h3>
        </div>
    </div>
</section>

<p class="mt-5 mb-5"></p>


<section class="section-2 vh-100 w-100 position-relative d-flex flex-column flex-md-row align-items-center">

    <div class="ms-2 me-2 mb-5">
        <h1 class="fs-1 text-center mb-5">Completely Open World</h1>
        <h3 class="text-center fs-3 fw-lighter">Enjoy the world of Dragonrain in all its glory! Duvencrune, Alogate,
            Tremont... Enjoy all the cities and environments Dragonrain has to offer!</h3>
        <h3 class="text-center fs-3 fw-lighter">Not only can you go anywhere, but the world will keep expanding!
            With every update, at least one new area will be released to keep the content coming!</h3>
    </div>

    <video class="video-content rounded-10 ms-md-2 me-md-5 p-1 p-md-1 shadow" autoplay loop muted>
        <source src="media/video_3.webm" type="video/webm">
    </video>

</section>

<section class="section-3 vh-100 w-100 position-relative d-flex flex-column flex-md-row align-items-center">

    <video class="video-left video-content rounded-10 ms-md-2 me-md-5 p-2 p-md-1 shadow " autoplay loop muted>
        <source src="media/video_6.webm" type="video/webm">
    </video>

    <div class="ms-2 me-5 mb-5">
        <h1 class="fs-1 text-center mb-5">Stunningly Beautiful Graphics</h1>
        <h3 class="text-center fs-3 fw-lighter">Not only is the game incredibly large and fun to explore, it also
            has incredible graphics never seen before in any MMO.</h3>
        <h3 class="text-center fs-3 fw-lighter">And if you're worried, freat not! We have done a lot of testing to
            make sure it can run as smooth as butter.</h3>
    </div>

    <video class="video-right video-content rounded-10 ms-md-2 me-md-5 p-2 p-md-1 shadow" autoplay loop muted>
        <source src="media/video_6.webm" type="video/webm">
    </video>

</section>

<section class="section-4 vh-100 w-100 position-relative d-flex flex-column flex-md-row align-items-center">

    <div class="ms-2 me-5 mb-5">
        <h1 class="fs-1 text-center mb-5">In-depth Story</h1>
        <h3 class="text-center fs-3 fw-lighter">If that wasn't enough, Dragonrain has an incredibly in-depth story
            that will make you deepen your bonds with the game world.</h3>
        <h3 class="text-center fs-3 fw-lighter">From complex characters to amazing architecture, the world of
            Dragonrain will always make you want more.</h3>
    </div>

    <video class="video-content rounded-10 ms-md-2 me-md-5 p-2 p-md-1 shadow" autoplay loop muted>
        <source src="media/video_5.webm" type="video/webm">
    </video>

</section>

<section
    class="section-5 w-100 h-100 vh-md-100 position-relative d-block d-md-flex flex-column flex-md-row align-items-center justify-content-evenly mb-5 ">

    <div class="package package-1 text-center p-4 rounded-10 shadow">
        <div>
            <div class="package-icon text-light mb-3"><i class="fa-4x fas fa-bahai"></i></div>
            <h2 class="package-title text-light mb-3">Explorer Pack</h2>
            <div class="container">
                <div class="row">
                    <h2 class="package-value text-light w-auto col m-0">$29.99</h2>
                    <button class="package-btn btn btn-success col">Pre-Order</button>
                </div>
            </div>
        </div>
        <p></p>
        <div class="package-content text-light fw-light">This pack contains everything to get you started:</div>
        <div class="package-content-container">
            <div class="package-content text-light"><i class="fas fa-address-card"></i> - Access to the closed beta
            </div>
            <div class="package-content text-light"><i class="fas fa-coins"></i> - x10,000</div>
            <div class="package-content text-light"><i class="fa fa-hat-wizard"></i> - Lvl 10 Mage robe and equipment</div>
        </div>
    </div>


    <div class="package package-2 text-center p-4 rounded-10 shadow">
        <div>
            <div class="package-icon text-light mb-3"><i class="fa-4x fas fa-gopuram"></i></div>
            <h2 class="package-title text-light mb-3">Founder Pack</h2>
            <div class="container">
                <div class="row">
                    <h2 class="package-value text-light w-auto col m-0">$59.99</h2>
                    <button class="package-btn btn btn-success col">Pre-Order</button>
                </div>
            </div>
        </div>
        <p></p>
        <div class="package-content text-light fw-light">This pack contains even more cool stuff!:</div>
        <div class="package-content-container">
            <div class="package-content text-light"><i class="fas fa-address-card"></i> - Access to the closed beta
            </div>
            <div class="package-content text-light"><i class="fas fa-coins"></i> - x100,000</div>
            <div class="package-content text-light"><i class="fa fa-hat-wizard"></i> - Lvl 25 Mage robe and equipment</div>
            <div class="package-content text-light"><i class="fas fa-address-card"></i> - Access to the private
                marketplace</div>
            <div class="package-content text-light"><i class="fas fa-anchor"></i> - x1 Meladona Ship</div>
        </div>
    </div>

    <div class="package package-3 text-center ps-1 pe-1 pt-2 rounded-10 shadow">
        <div class="overflow">
            <div>
                <div class="package-icon text-light mb-3"><i class="fa-4x fas fa-jedi"></i></div>
                <h2 class="package-title text-light mb-3">Deluxe Pack</h2>
                <div class="container">
                    <div class="row">
                        <h2 class="package-value text-light w-auto col m-0">$89.99</h2>
                        <button class="package-btn btn btn-success col">Pre-Order</button>
                    </div>
                </div>
            </div>
            <p></p>
            <div class="package-content text-light fw-light">The best package! It contains:</div>
            <div class="package-content-container">
                <div class="package-content text-light"><i class="fas fa-address-card"></i> - Access to the closed beta
                </div>
                <div class="package-content text-light"><i class="fas fa-coins"></i> - x1,000,000</div>
                <div class="package-content text-light"><i class="fa fa-hat-wizard"></i> - Lvl 50 Mage robe and equipment</div>
                <div class="package-content text-light"><i class="fas fa-address-card"></i> - Access to the private
                    marketplace</div>
                <div class="package-content text-light"><i class="fas fa-anchor"></i> - x1 Surca Ship</div>
                <div class="package-content text-light"><i class="fas fa-dragon"></i> - Your own Dragon! It will help
                    you throughout your journey! Don't forget to feed it.</div>
                <div class="package-content text-light"><i class="fas fa-clock"></i> - x3 Months of premium</div>
            </div>
        </div>
    </div>

</section>

<section
    class="section-6 w-100 h-100 vh-md-100 position-relative d-flex flex-column flex-md-column align-items-center justify-content-evenly mb-5">

    <div>
        <h1 class="text-light text-center">Still have doubts? Reach out and get answers!</h1>
        <h3 class="text-light fw-light text-center me-5 ms-5">Fill in this form and we'll get in contact with you as soon as
            possible.</h3>
    </div>

    <form class="w-100 h-100 vh-md-100 position-relative d-flex flex-column flex-wrap align-content-center">
        <div class="form-group align-content-center text-light">
            <label for="name">
                <h2>Name</h2>
            </label>
            <input type="text" class="form-control" id="name" placeholder="John Doe">
        </div>

        <div class="form-group align-content-center text-light">
            <label for="email">
                <h2>Email</h2>
            </label>
            <input type="email" class="form-control" id="email" placeholder="name@example.com">
        </div>
        <div class="form-group align-content-center text-light">
            <label for="contact-reason"><h2>What are you contacting us for?</h2></label>
            <select multiple class="form-control" id="contact-reason">
                <option>Questions about the game</option>
                <option>Marketing Proposals</option>
                <option>Investing Opportunities</option>
                <option>Other</option>
            </select>
        </div>
        <div class="form-group align-content-center text-light">
            <label for="exampleFormControlTextarea1"><h2>Comment</h2></label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

        <button type="button" class="btn btn-success mt-5">Submit</button>
    </form>
</section>