<header>
    <nav
        class="nav-container d-flex bg-dark pb-3 pt-3 align-items-center vh-10 top-0 w-100 position-fixed zindex-100">
        <img class="nav-item navbar-brand ms-2 mh-3rem" src="images/logo.png" alt="Jekeo Games"></div>
        <a href="#top" class="nav-item btn btn-dark text-light">Home</a>
        <a href="#top" class="nav-item btn btn-dark text-light">Work with us</a>
        <a href="#top" class="nav-item btn btn-dark text-light">Contact</a>
    </nav>
</header>