/* 
320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV
*/


body {

  background: linear-gradient(180deg, #c2cbe0, #7f8eb4);
}

.video-text {
  background-color: rgba(0, 0, 0, 0.7);
}

.video-content {
  background: rgba(255, 255, 255, 0.4);
}

.video-right {
  display: none;
}

.package {
  background-color: #1c1c1c;
  border: rgba(255, 255, 255, 0.6) solid;
  border-width: 4px;
  width: 27%;
  height: 86vh;
  padding-bottom: 25px;
}

.package-1 {
  background: linear-gradient(180deg, #864c1b, #402908);
  border-color: #4f2b16;
}

.package-2 {
  background: linear-gradient(180deg, #828282, #3f3f3f);
  border-color: #dddddd;
}

.package-3 {
  background: linear-gradient(180deg, #ccb00f, #3f3705);
  border-color: #FFD700;
}

.overflow {
  overflow: hidden;
  position: relative;
  width: 100%;
}


@media screen and (max-width: 768px)
{

  .package {
    height: 60vh;
  }

  .title-logo {
    width: 50%;
  }

  .video-left {
      display: none;
  }

  .video-right {
      display: block;
  }

  .section-2 video, .section-3 video, .section-4 video {
      width: 90%
  }

  .package {
      margin-top: 25px;
      width: 75%;
  }

  .section-5 {
      text-align: -webkit-center;
  }

  .section-2 h3 , .section-3 h3, .section-4 h3 {
    text-align: left !important;
    margin-left: 25px !important;
  }

  footer div {
    margin-left: 40px !important;
    margin-right: 40px !important;
    margin-bottom: 50px !important;
    text-align: center !important;
  }

}

section video {
  width: 50%;
}

.section-6 form div  {
  text-align: center;
}



.package-content {
  padding: 0vh;
  margin-left: 1px;
  margin-right: 1px;
}

.package-value {
  text-align: center;
}

.package button {
  background-color: rgb(41, 94, 255);
}

.package-content-container {
  display: grid;
  grid-template-columns: auto;
  text-align: left;
}

.section-5 div{
  align-self: start;
}

.section-6 {
  margin-top: 25px;
}

footer {
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #111111;
}

footer ul {
  list-style: none;
}

footer ul li {
  margin-left: 5px;
  margin-right: 5px;
  color: grey;
}

footer a:hover {
  cursor: pointer;
}

footer div {
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 50px;
}
