<p-menubar style="z-index:999" class="sticky top-0 left-0 border-none m-0 w-screen" [model]="items">
    <ng-template let-item pTemplate="start">
        <img class="max-w-5rem m-2 hidden md:block" src="assets/media/images/logo.png" alt="Jekeo Games">
    </ng-template>
    <ng-template let-item pTemplate="end">
        <img class="max-w-5rem m-2 block md:hidden" src="assets/media/images/logo.png" alt="Jekeo Games">
    </ng-template>
</p-menubar>

<div class="project-height absolute top-0 left-0 h-screen w-full bg-cover bg-center flex flex-column justify-content-center align-items-center">

    <video class="absolute top-0 left-0 h-screen w-full z-0" style="filter: brightness(65%); background-repeat: no-repeat; object-fit:cover" src="assets/media/videos/video_2.webm" alt="hero-video" [autoplay]="true" [loop]="true" [muted]="true"></video>
    <div style="margin-top:6rem" class="z-1 flex flex-column justify-content-center align-items-center">
        <img class="w-8 md:w-4 align-self-center vertical-center" src="assets/media/images/hero-logo.png" alt="">
        <button pButton pRipple class="waitlistBtn font-normal m-5 text-4xl">Join the Waiting list</button>
        <h2 class="align-self-center text-center font-normal text-white mb-1 text-xl md:text-3xl">Thousands of players have already signed up for</h2>
        <h2 class="align-self-center text-center font-normal text-white mt-1 text-xl md:text-3xl">Dragonrain's closed beta. Join us!</h2>
    </div>
</div>

<div class="project-height"></div>

<div class="project-height w-full pt-2">

    <div class="m-5 flex flex-column justify-content-center">
        <h1 class="mt-0 align-self-center">Completely Open World</h1>

        <div class="flex flex-row gap-1">
            <video class="w-4" style="filter: brightness(65%); background-repeat: no-repeat; object-fit:cover" src="assets/media/videos/video_2.webm" alt="section_1-video" [autoplay]="true" [loop]="true" [muted]="true"></video>
            
            <div class="text-3xl">
                <p>Get ready to dive into the amazing world of Dragonrain! From Duvencrune to Alogate, Tremont and beyond, there will be endless cities and environments to explore!</p>
                <p>How? The world of Dragonrain keeps getting bigger and better! Thanks to a mix of AI and our engineers' hard work, we have designed a <strong>completely procedural world generator</strong>.</p>
            
                <p>From terrains, to cities, people, events and monsters, everything is constantly being generated. Enjoy the endless world of Dragonrain very soon!</p>
            </div>
        </div>


    </div>

</div>

<!--<div>
    <div style="overflow: hidden;" class="overflow-hidden w-full h-screen z-0 m-0 p-0" >
        <video class="w-full" style="filter: brightness(25%);"  [autoplay]="true" [loop]="true" [muted]="true">
            <source  style="width:100%;" src="assets/media/videos/video_2.webm" type="video/webm">
        </video>
    </div>
    
    <div class="absolute top-0 left-0 w-full h-screen flex flex-column justify-content-center z-1 align-items-center m-0">
        <img class="w-2 align-self-center" src="assets/media/images/logo_game.png" alt="Dragonrain">
        <button pButton pRipple class="font-normal m-5 text-4xl">Join the Waiting list</button>
        <h2 class="align-self-center font-normal text-white mb-1 text-3xl">Thousands of players have already signed up for</h2>
        <h2 class="align-self-center font-normal text-white mt-1 text-3xl">Dragonrain's closed beta. Join us!</h2>
    </div>
</div>-->

<!--<div class="w-full h-screen bg-red-500 m-0 p-0">

    <div class="ms-2 me-2 mb-5">
        <h1 class="mt-0">Completely Open World</h1>
        <h3 class="text-center fs-3 fw-lighter">Enjoy the world of Dragonrain in all its glory! Duvencrune, Alogate,
            Tremont... Enjoy all the cities and environments Dragonrain has to offer!</h3>
        <h3 class="text-center fs-3 fw-lighter">Not only can you go anywhere, but the world will keep expanding!
            With every update, at least one new area will be released to keep the content coming!</h3>
    </div>

    <video class="video-content rounded-10 ms-md-2 me-md-5 p-1 p-md-1 shadow" autoplay loop muted>
        <source src="media/video_3.webm" type="video/webm">
    </video>

</div>

<div class="section-2 vh-100 w-100 position-relative d-flex flex-column flex-md-row align-items-center">





</div>-->